p{
    position: fixed;
    
    right: 200px; 

    font-size: 12px;
        
    font-family: Georgia;
}


body {
    background: midnightblue;
    
    color: white;
    
    font-family: Georgia;
    
    background-image: url("https://images7.alphacoders.com/525/525851.jpg");
    
    background-size: cover;
    
    background-color: #cccccc;
}