table{
    
    position: fixed;
    
    right: 500px; 

    bottom: 100px;

    font-size: 12px;
        
    font-family: Georgia;
    
    height: 400px;
    
    width: 200px;
    
}


body {
    background: midnightblue;
    
    color: white;
    
    font-family: Georgia;
    
    background-image: url("https://images7.alphacoders.com/525/525851.jpg");
    
    background-size: cover;
    
    background-color: #cccccc;
}