body {
    background: midnightblue;
    
    color: white;
    
    font-family: Georgia;
    
    background-image: url("https://images7.alphacoders.com/525/525851.jpg");
    
    background-size: cover;
    
    background-color: #cccccc;
}

table, th, td {
   border: 1px solid white;
   
   border-collapse: collapse;
   
   color: red;
}

a {
    color: white;
}

tr:hover {background-color: #f5f5f5;}

th {
    background-color: red;
    color: white;
}

table{
    background-color: black;
}
