font{
    color: black;
    
    font-family: Georgia;
    
}
tr{
   border: 3px solid black;
   
   border-collapse: collapse;
   
   border-style: ridge;
}
li:hover {background-color: lightgrey;}

.email {
    height: 50px;
    
    width: 50px;
    
    position: fixed;
    
    bottom: 0;
    
    right: 120px;
}
.socialmedia{
      height: 50px;
    
    width: 50px;
    
    position: fixed;
    
    bottom: 0;
    
    right: 50px;
}

    




