font{
    color: black;
    
    font-family: Georgia;
    
}
.menu{
   
   border: 3px solid black;
   
   border-collapse: collapse;
   
   border-style: groove;
   
   background-image: url();
   
   background-color: #cccccc;
   
}

li:hover {background-color: lightgrey;}

.email {
    height: 50px;
    
    width: 50px;
    
    position: fixed;
    
    bottom: 0;
    
    right: 280px;
}

.socialmedia{
    
    height: 50px;
    
    width: 50px; 
    
    position: fixed;
    
    bottom: 0;
    
    right: 220px;
}

.school{
    
    font-size: 20px;
    
    position: fixed;
    
    bottom: 0;
    
    right: 0px;
}

.pictures{
    border-style: groove;
    
    border-color: black;
    
    border-collapse: collapse;
}
    
.pic1{
    
    padding-bottom: 100px;
    
    padding-left: 50px;
    
    padding-right: 50px;
}




