body{
 
    background-image: url("https://newevolutiondesigns.com/images/freebies/abstract-background-7.jpg");
    
    background-color: #cccccc;
    
    color: white;
    
    font-family: cursive;
    
    font-size: 25px;
}


ul{   
    border: 5px solid ivory;
    
    border-collapse: collapse;
    
    border-style: ridge;
    
    width: 300px;
    
    height: 400px;
    
    background-color: #0b0b0d;
    
    color: white;
}

li:hover {background-color: lightgray;}





