font{
    color: black;
    
    font-family: Georgia;
    
}
.menu{
   
   border: 3px solid black;
   
   border-collapse: collapse;
   
   border-style: groove;
   
   background-color: #cccccc;
   
}

li:hover {background-color: ivory;}