font{
    color: black;
    
    font-family: Georgia;
    
}
.menu{
   
   border: 3px solid black;
   
   border-collapse: collapse;
   
   border-style: groove;
   
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQU89mghv44QeRauHQrfp4-b1PIUe790K35DG34jI8QXzTqoVdH9g);
   
   background-color: #cccccc;
   
}

li:hover {background-color: ivory;}