body {
    background-color: darkgray;
    
    color: white;
    
    font-family: Georgia;
    
    font-size: 25px;
}

a {
    color: white;
}

ul {   
    border: 1px solid black;
    
    width: 350px;
    
    height: 200px;
    
}
