body{
 
    background-image: url("https://newevolutiondesigns.com/images/freebies/abstract-background-7.jpg");
    
    background-color: #cccccc;
    
    color: white;
    
    font-family: Georgia;
    
    font-size: 25px;
}

a {
    color: black;
}

ul {   
    border: 3px solid black;
    
    border-collapse: collapse;
    
    width: 350px;
    
    height: 200px;
    
    background-color: white;
    
}

